html,body{
    height: auto;
    width: 100%;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    
}

body{
    background-color: rgb(255, 255, 255);
    display: -webkit-flex;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
}

.head-section{
    width: fit-content;
    height: fit-content;
    display: -webkit-flex;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    position: relative;
    margin: 10px;
}

.title{
    color: #B58200;
    font-size: 24px;
    letter-spacing: 4px;
    word-spacing: 10px;
    font-weight: lighter;
}
.name{
    letter-spacing: 1px;
    color: #B58200;
}

.icon{
    display: -webkit-flex;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #b5820023;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    margin: 100px 100px;
}

.grid-item{
    border: 2px transparent solid;
    margin: 5px;
    width: 165px;
    height: 165px;
    position: relative;
}

.grid-item:hover .image {
    opacity: 0.2;
  }
  
.grid-item:hover .middle {
    opacity: 1;
}

.grid-item:hover{
    border: 2px #B58200 solid;
}


.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    display: flex;
    justify-content: center;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
    padding: 5px;
    background-color: #815c0059;
    border-radius: 20px;
}

a{
    font-style: none;
    text-decoration: none;
    color: black;
}

a:visited{
    color: #815d00;
}

@media all and (max-width:1090px){
    .grid-container{
        grid-template-columns: auto auto auto auto;
    }

}

@media all and (max-width:840px){
    .grid-container{
        grid-template-columns: auto auto auto;
    }
}

@media all and (max-width:660px){
    .grid-item{
        width: 125px;
        height: 125px;
    }
}

@media all and (max-width: 520px){
    .grid-item{
        width: 100px;
        height: 100px;
    }
}

@media all and (max-width: 455px){
    .grid-container{
        grid-template-columns: auto auto;
    }

    .grid-item{
        height: 120px;
        width: 120px;
    }
}

@media all and (max-width: 390px){
    .grid-item{
        width: 110px;
        height: 110px;
    }
}

@media all and (max-width: 350px){
    .grid-item{
        width: 100px;
        height: 100px;
    }
    .title{
        font-size: 20px;
    }
}





